<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigInteger" version="1.0.7" targetFramework="net48" />
  <package id="jQuery" version="3.7.1" targetFramework="net48" />
  <package id="kayChart.dll" version="0.4.7" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.8.2112" targetFramework="net48" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
</packages>